

/* homepage background image attributed to Luca Bravo on Unsplash, https://unsplash.com/photos/9l_326FISzk*/
.homepage{
    background:url("image/itdesk.jpg");
    opacity:0.9;
    background-position: center;
    background-size:cover;
    height:60%;
    width:95%;
      overflow:hidden;
}